
@{
    ViewData["Title"] = "RetrievePasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <p>Your log-in details has been sent to your email. Thanks</p>
</div>
